/* Variables */
:root {
  --font-color: #fff;
  --font-size: 10px;
  
  --btn-size: 150px;
  --grid-gap: 18px;

  --primary-color: #FFCB3C;
  /* --primary-color: #000; */
  --secondary-color: #5E7EFA;

  --disabled-color: #FF8201;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Background styles */
body, html {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
svg {
	width: 100%;
	height: 100vh;
}

button {
  cursor: pointer;

  border: none;
  outline: none;
  background: none;
}

.btn {
  color: var(--font-color);
  background-color: var(--secondary-color);
}

.btn.disabled {
  background-color: var(--disabled-color);
}

#game {
  position: absolute;
  z-index: 999;

  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--primary-color);
  border-radius: 5px;
  /* padding: calc(var(--grid-gap) / 4); */

  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(3, 1fr);
}

.container .btn {
  /* padding: 2.5rem; */

  width: var(--btn-size);
  height: var(--btn-size);

  font-size: calc(var(--font-size) * 6);
}

.standings {
  width: 100%;

  margin-bottom: 2rem;

  display: flex;
  justify-content: space-evenly;
}

.standings .btn {
  padding: 1rem;
  border-radius: 5px;
}